---
import Layout from '../components/Layout.astro';
import ContactLinks from '../components/ContactLinks.astro';
---

<Layout title="Contact - Luke Batchelor">
  <div class="max-w-md space-y-8 sm:mx-auto">
    <div class="space-y-2">
      <h1 class="text-2xl font-bold">Contact</h1>
      <p class="text-text-muted">Feel free to reach out for anything non-spam related!</p>
    </div>
    <ContactLinks />
  </div>
</Layout>
