---
import Layout from '../layouts/Layout.astro';
import Avatar from '../components/Avatar.astro';
---

<Layout title="Luke Batchelor. Developer">
  <main class="space-y-3">
    <Avatar class="w-36" />
    <p class="text-3xl font-semibold">G'day!</p>
    <p>I'm Luke, a fullstack dev with a passion for building things</p>
    <p class="font-semibold text-xl">My world</p>
    <p>
      At work I do frontends, backends, api's, build tooling, monorepo's, CI/CD,
      design systems, system design, developer and user experience
    </p>
    <p>
      At home I like making micro app's that either solve tiny problems for me
      or ones that scratch silly, intellectual itches. PWA's, micro-apps, css
      challenges and mini games
    </p>
  </main>
</Layout>

<style></style>
