<footer class="text-center text-xs p-4 bg-slate-600 text-gray-200">
  <p>
    Built with <span class="text-red-500">♥</span> using <a href="astro.build"
      >Astro</a
    >, deployed on <a href="https://netlify.com/"> Netlify.</a>
  </p>
  <p>
    View the source or report bugs on <a
      href="https://github.com/lukebatchelor/lukebatchelor-net">Github.</a
    >
  </p>
</footer>
<style></style>
